<section class="w-full h-screen flex flex-col items-center">
  <div class="mb-4 flex flex-col w-full max-w-[568px]">
    <div class="relative flex head-gradient w-full w-full min-w-[350px] items-center px-4 pt-8 pb-2">
      <%= link_to('javascript:history.back()', class: "") do %>
        <span class="material-symbols-outlined text-white">menu</span>
      <% end %>

      <h2 class="text-white m-auto">CATEGORIES</h2>

    </div>
    
    <% if alert.present? %>
      <p class="mt-5 m-auto py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block" id="notice"><%= alert %></p>
    <% end %>

    <div id="categories" class="min-w-full">
      <%= render @categories %>
    </div>

    <div class="flex items-center bg-[#5fb523] p-4">
      <%= link_to 'NEW CATEGORY', new_category_path, class: "rounded-sm border-2 border-neutral-100 flex justify-center text-white w-full min-w-[350px] items-center p-4" %>
    </div>
  </div>
</section>