<section class="w-full h-screen flex flex-col items-center">
  <div class="mb-4 flex flex-col w-full max-w-[568px]">
    <div class="sticky flex head-gradient max-w-[568px] top-0 w-full w-full min-w-[350px] items-center px-4 pt-8 pb-2 mb-10">
      <%= link_to('javascript:history.back()', class: "") do %>
        <span class="material-symbols-outlined text-white">arrow_back_ios</span>
      <% end %>
      <h2 class="text-white m-auto">NEW CATEGORY</h2>
      <button class="text-white text-[14px]" onclick="document.getElementById('hidden-submit_3').click()">Create</button>
    </div>

    <div class="mx-auto w-full">

      <%= render "form", category: @category %>

    </div>
  </div>
</section>